$light-bg: #fff !default;
$dark-bg: #000 !default;

.codigo5-signature-widget {
  width: 100%;
  padding: 5px 0;
  text-align: center;

  &.is-light {
    background: $light-bg;
  }

  &.is-dark {
    background: $dark-bg;
  }
}

.codigo5-signature-widget span {
  font-size: 9px;
  display: block;

  &.is-light {
    color: black;
  }

  &.is-dark {
    color: white;
  }
}

.codigo5-signature-widget__logo {
  display: inline-block;

  img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }
}

.codigo5-signature-widget img {
  height: 35px !important;
  width: inherit !important;
}
