$light-color: #000 !default;
$light-bg: #fff !default;
$dark-color: #fff !default;
$dark-bg: #000 !default;

$description-margin: 0 0 5px;
$description-font-size: 9px;

.codigo5-signature-widget {
  width: 100%;
  padding: 15px 0;
  text-align: center;

  &.is-light {
    color: $light-color;
    background: $light-bg;
  }

  &.is-dark {
    color: $dark-color;
    background: $dark-bg;
  }
}

.codigo5-signature-widget__description {
  display: block;
  margin: $description-margin;
  font-size: $description-font-size;
}

.codigo5-signature-widget__logo {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
